 $full=100%;
 $font-11=11px;
 $font-12=12px;
 $font-13=13px;
 $font-14=14px;
 $font-16=16px;
 $font-18=18px;
 $font-20=20px;
 $font-22=22px;
 $font-24=24px;
 $color-blue=#3E7DF1;
 $link-hover=#2860C1;
 $color-white=#ffffff;
 $color-grey=#737373;
 $color-black=#000000;
 $color-red=#CB291A;
 $color-orange=#FD8546;
 $background-blue=#387BEE;
 $background-white=#ffffff;
 $background-grey=#AAAAAA;
 $background-black=#333333;
 $background-red=#DD4C49;
 $background-hover-red=#E5040A;
 $background-orange=#FD8546;
 $background-hover-orange=#E96421;
 $background-green=#759F19;
 $background-hover-green=#238C00;
 $border-grey=solid 1px #DCDCDC;
 $border-color-grey=#DCDCDC;
 $border-blue=solid 1px #387BEE;
 $border-color-blue=#387BEE;
 $border-red=solid 1px #DD4C49;
 $border-orange=solid 1px #FD8546;
 $border-green=solid 1px #759F19;
 border-1(){
   border-style: solid;
   border-width: 1px;
   border-color: arguments;
 }
 border-2(){
   border-style: solid;
   border-width: 2px;
   border-color: arguments;
 }
 html,body{
  width:$full;
  height:$full;
  margin:0;
  padding:0;
  div,h1,h2,h3,h4,h5,p,ul,li,span,a,img,input,select,checkbox,radio,textarea{
    margin:0;
    padding:0;
  }
  ul,li{
    list-style:none;
  }
  input{
    outline: none;
    border:none;
    border-radius: 5px;
    padding:3px 10px;
    cursor:pointer;
  }
  a{
    text-decoration: none;
  }
 }
  