.video-js{
    .vjs-big-play-button{
        width:2em !important;
        height:2em !important;
        line-height:2em !important;
        font-size:3em !important;
        border-radius:50% !important;
        margin-left:-1em !important;
    }
}